body {
    background-color: darkolivegreen;
    /* background-image: url("../images/pets_large.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.div {
    display: flex;
    flex-direction: column;
}

.h1 {
    align-self: center;
    font-size: 30px;
    font-weight: 700;
    color:aquamarine
}